@import "./base/normalize";

@import "./abstracts/variables";

@import "./abstracts/mixins";

@import "./components/header";

@import "./components/banner";

@import "./components/tools";

@import "./components/design";

@import "./components/product";

@import "./components/marketers";

@import "./components/strategies";

@import "./components/footer";

* {
  box-sizing: border-box;
}

.site__content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  @include text-formatter;
}

.block__container {
  display: flex;
  width: 100%;
  max-width: 1400px;
}
