@import "./abstracts/variables";

@import "./abstracts/mixins";

@import "./components/header";

@import "./components/banner";

@import "./components//tools";

@import "./components//design";

@import "./components//product";

@import "./components//marketers";

@import "./components//strategies";

@import "./components//footer";

.site__content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  width: 100%;
}

.block__container {
  display: flex;
  max-width: 1400px;
}
