.banner-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;

  @include media-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 48px;
    margin-left: 40px;
    font-size: 18px;
  }

  &__title {
    @include title-formatter(44px, 54px);
    display: flex;
    flex-direction: column;
    max-width: 518px;
    max-height: 108px;
    margin: 89px 0 170px 0;

    @include media-tablet {
      margin-bottom: 250px;
    }
  }

  &__text {
    @include text-formatter;
    max-width: 458px;
    padding-right: 120px;
    margin: 30px 0;

    @include media-mobile-small {
      font-size: 20px;
      padding: 0;
    }
  }

  &__img-container {
    margin-top: 50px;
    max-width: 605px;

    @include media-small-desktop {
      max-width: 460px;
      margin-top: 78px;
    }

    @include media-mobile-small {
      margin-left: 40px;
    }
  }

  &__image {
    width: 100%;
  }

  &__buttons-container {
    display: flex;
    margin-top: 45px;
  }

  &__start-button {
    padding: 10px 30px;

    &:hover {
      @include button-hover;
    }
  }

  &__video-link {
    width: 179px;
    margin: 0 30px;
    text-decoration-line: underline;
    color: $secondary-color;
    background: 0;
    border: 0;

    &:hover {
      background-color: $logo-color;
      border-radius: 4px;
      font-size: 20px;
      transition: 0.5s all;
    }
  }

  &__video-link::before {
    content: url("../assets/img/banner/banner-button-triangle.png");
    margin: 0 8px;
  }
}
