.designers-section {
  display: flex;
  justify-content: space-between;

  &__text-block {
    display: flex;
    flex-direction: column;
    max-width: 486px;
  }

  &__title {
    display: flex;
    flex-direction: column;
  }

  &__designers-section__text {
    font-size: 1em;
  }

  &__img-container {
    max-width: 520px;
    max-height: 574px;

    @include media-small-desktop {
      max-width: 460px;
    }
  }

  &__image {
    width: 100%;
  }
}
