.designers-section {
  display: flex;
  justify-content: space-between;
  // margin-bottom: 84px;

  &__text-block {
    display: flex;
    flex-direction: column;
    // margin-bottom: 48px;
    max-width: 486px;
  }

  &__title {
    display: flex;
    flex-direction: column;
  }

  &__designers-section__text {
  font-size: 1em;
  }
  
  &__image {
    max-width: 520px;
    height: 574px;
  }
}
