.footer {
  display: flex;
  border-top: 2px solid $border-color;
  height: 402px;

  &__logo {
    max-width: 143px;
    height: 29px;
    margin-top: 40px;
  }

  &__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 105px;

    @include media-small-desktop-footer-transform {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__description {
    @include title-formatter(20px, 30px);
    font-weight: 900;
  }

  &__description-input {
    display: block;
    max-width: 280px;
    height: 57px;
  }

  &__links {
    display: flex;
    flex-direction: column;
    margin: 0 50px;

    @include media-small-desktop-footer-transform {
      display: flex;
      flex-direction: row;
      align-items: baseline;
    }

  }

  &__links-decorator {
    text-decoration: 0;
    color: $links-color;

    @include media-small-desktop-footer-transform {
      padding: 0 5px;
    }
  }

  &__links-list {
    list-style-type: none;
  }

  &__links-block {
    @include media-small-desktop-footer-transform {
      display: flex;
      flex-direction: row;
      align-items: baseline;
    }

    @include media-mobile {
      display: flex;
      flex-direction: column;
    }
  }

  &__input {
    border: 3px solid $border-color;
    border-radius: 3px;
    max-width: 325px;
    height: 48px;
    color: $border-color;
    margin-bottom: 30px;
  }

  &__input-container {
    @include media-small-desktop-footer-transform {
      text-align: center;
      align-items: center;
    }
  }

  &__input-button {
    @include button-main-type;
    max-width: 142px;
    max-height: 40px;
    line-height: 24px;

    @include media-small-desktop-footer-transform {
      margin-bottom: 20px;
    }
  }

  &__input-button:hover {
    @include button-hover;
  }

  &__input-container {
    display: flex;
    flex-direction: column;
  }
}
