.marketers-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 170px;

  &__text-block {
    max-width: 486px;
  }

  &__title {
    display: flex;
    flex-direction: column;
  }

  &__img-container {
    max-width: 542px;
    max-height: 609px;

    @include media-small-desktop {
      max-width: 460px;
    }
  }

  &__image {
    width: 100%;
  }
}
