.marketers-section {
  display: flex;
  justify-content: space-between;
  max-height: 609px;
  margin-bottom: 170px;

  &__text-block {
    max-width: 486px;
  }
  
  &__title {
    display: flex;
    flex-direction: column;
  }

  &__image {
    width: 542px;
    height: 609px;
  }
}
