.strategies-section {
  display: flex;
  flex-direction: column;

  &__cards-container {
    display: flex;
    justify-content: space-between;
  }

  &__image-search {
    width: 348px;
    height: 185px;
    margin-right: 25px;
  }

  &__image-structure {
    width: 348px;
    height: 185px;
    margin-right: 25px;
  }

  &__image-time {
    width: 348px;
    height: 185px;
  }

  &__accent {
    font-weight: 700;
  }
  
  &__title-formater {
    font-size: 34px;
    line-height: 51px;
  }

  &__title {
    display: block;
    @include title-formatter(24px, 34px);
  }

  &__title:hover {
    color: $secondary-color;
  }

  &__carousell {
    display: flex;
    justify-content: center;
  }
}

.circle {
  list-style-type: none;
  text-align: center;
  width: 16px;
  height: 16px;
  border: 1px sold #efefef;
  border-radius: 50%;
  background-color: #ddd4d4;
  margin: 5px;
  margin-bottom: 120px;

  &:hover {
    background-color: $secondary-color;
  }
}
