.banner__section {
  display: flex;
  width: 100%;
  height: 100%;
}

.banner__section-title {
  width: 518px;
  height: 108px;
  @include title-formatter(26px, 54px);
}

.banner__section-text {
  display: block;
  width: 458px;
  height: 95px;
  padding-right: 120px;
  @include text-formatter;
}

.banner__section-image {
  background-image: url("../../source/assets/img/banner/banner.png");
  width: 605px;
  height: 496px;
  background-position: center;
}

.banner__section-buttons-container {
  display: flex;
  margin-top: 45px;
  @include text-formatter;
}

.banner__section-start-button {
  width: 179px;
  height: 53px;
  background: $secondary-color;
  border-radius: 4px;
  color: $primary-color;
  @include text-formatter;
  border: 0;
}

.banner__section-video-link {
  width: 179px;
  height: 53px;
  margin: 0 30px;
  @include text-formatter();
  text-decoration-line: underline;
  color: $secondary-color;
  background: 0;
  border: 0;
}

.banner__section-video-link::before {
  content: url("../../source/assets/img/banner/banner-button-triangle.png");
  margin: 0 8px;
}
