.designers__section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 84px;

  &-description {
    display: flex;
    flex-direction: column;
    margin-bottom: 22px;
    max-width: 486px;
    @include text-formatter(20px, 34px);
  }

  &-title {
    display: flex;
    flex-direction: column;
    @include title-formatter;
  }

  &-text {
    @include text-formatter;
  }
  
  &-image {
    background-image: url("../../source/assets/img/design/design.png");
    width: 520px;
    height: 574px;
  }
}
