.designers__section {
  display: flex;
  justify-content: space-between;
  font-family: Poppins;
  margin-bottom: 84px;
}

.designers__section-description {
  max-width: 486px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  color: #2f281e;

  .designers__section-title {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color: #2f281e;
  }

  .designers__section-text {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
  }
}

.designers__section-image {
  background-image: url("../../source/img/design/design.png");
  width: 520px;
  height: 573px;
  margin-left: 5%;
}
