.header__section-container {
  display: flex;
  // justify-content: center;
  justify-content: space-between;
  max-width: 1400px;
}

.header__container {
  display: flex;
  height: 78px;
  margin-top: 20px;
  margin-bottom: 33px;
}

.logo__container {
  display: flex;
  height: inherit;
  margin-right: 255px;
}

.logo {
  display: flex;
  margin: 25px 11px;
}
.logo__main-title {
  @include text-formatter();
}

.nav__container {
  display: flex;
  width: 450px;
}

.nav__block {
  display: flex;
  justify-content: space-between;
  width: 350px;
  height: 28px;
  margin: 25px 28px;
}

.nav__link {
  text-decoration: 0;
  margin: 0 15px;
  @include text-formatter();
}

.nav__btn-container {
  display: flex;
  height: 46px;
  margin: 14px;
}

.nav__container-button-in {
  width: 102px;
  height: 46px;
  margin: 0 14px;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  background: $primary-color;
  @include text-formatter();

  &:hover {
    background-color: $secondary-color;
    color: $primary-color;
  }
}

.nav__container-button-up {
  width: 102px;
  height: 46px;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  background: $secondary-color;
  @include text-formatter;
  color: $primary-color;

  &:hover {
    background-color: $primary-color;
    color: $logo-color;
  }
}
