.marketers__section {
  display: flex;
  justify-content: space-between;
  max-height: 609px;
  margin-bottom: 170px;

  .marketers__section-description {
    max-width: 486px;
    @include text-formatter;

    .marketers__section-title {
      @include title-formatter ();
    }

    .marketers__section-text {
      @include text-formatter();
    }
  }
}

.marketers__section-image {
  background-image: url("../../source/assets/img/marketers/marketers.png");
  width: 542px;
  height: 609px;
  margin-left: 5%;
}
