.product-manager__section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
}

.product-manager__section-description {
  max-width: 486px;

  .product-manager__section-title {
    @include title-formatter;
  }

  .product-manager__section-text {
    display: block;
    width: 385px;
    @include text-formatter;
  }
  .product-manager__section-text-wrapper {
    margin: 0 auto;
    display: flex;
    width: 427px;
    height: 92px;
  }
}

.product-manager__section-icon {
  background-image: url("../../source/assets/img/product/product_icon.png");
  width: 350px;
  height: 350px;
  padding: 17px;
  margin: 13px;
}

.product-manager__section-image {
  background-image: url("../../source/assets/img/product/product.png");
  width: 534px;
  height: 521px;
}

.product-manager-title-shift {
  margin-left: 42px;
}
