.strategies__section {
  display: flex;
  flex-direction: column;
  font-family: Poppins;

  .strategies__section-title {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 51px;
    color: #2f281e;
  }

  .strategies__section-description {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
  }
}

.strategies__section-cards-container {
  display: flex;
  justify-content: space-between;

  .strategies__section-image-search {
    background-image: url("../../source/img/strategies/strategies-search.png");
    width: 348px;
    height: 185px;
    margin-right: 25px;
  }

  .strategies__section-image-structure {
    background-image: url("../../source/img/strategies/strategies-structure.png");
    width: 348px;
    height: 185px;
    margin-right: 25px;
  }

  .strategies__section-image-time {
    background-image: url("../../source/img/strategies/strategies-time.png");
    width: 348px;
    height: 185px;
  }
}

.strategies__section-accent {
  font-weight: 700;
}

.strategies__section-title {
  display: block;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 34px;
  color: #2f281e;
}

.strategies__section-title:hover {
  color: #ff9900;
}

.strategies__section-carousell {
  display: flex;
  justify-content: center;
}

.circle {
  text-align: center;
  width: 16px;
  height: 16px;
  border: 1px sold #efefef;
  border-radius: 50%;
  background-color: #efefef;
  margin: 5px;
  margin-bottom: 120px;
}

.circle:hover {
  background-color: #ff9900;
}
